In [ ]:
# TOPIC: String Based Assignment Problem

In [ ]:
# 1. Write a program to reverse a string.
str = input(" enter a string ")
str=str[::-1]
print (str)

enter a stringlieutanent
tnenatueil

In [ ]:
#2. Check if a string is a palindrome.
str = input(" enter a string ")
if str==str[::-1]:
    print("palindrome")
else:
    print("not palindrome")

 enter a string madam
palindrome

In [ ]:
#3. Convert a string to uppercase.
s = "pwskills"
s.upper()

'PWSKILLS'

In [ ]:
#4. Convert a string to lowercase.
s="PWSKILLS"
s.lower()

'pwskills'

In [ ]:
#5. Count the number of vowels in a string.
string = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1
print("The number of vowels in the string is:", count)

Enter a string: sphincetertome
The number of vowels in the string is: 5

In [ ]:
#6. Count the number of consonants in a string.
string = input("enter a string")
vowels ="aeiouAEIOU"
count = 0
for char in string:
  if char not in vowels:
    count += 1
print("The number of consonants in the string is:", count)

enter a stringvisiglidewire
The number of consonants in the string is: 7

In [ ]:
#7. Remove all whitespaces from a string.
str = input( "enter a string")
str = str.replace(" ","")
print(str)

enter a stringmicro tech me
microtechme

In [ ]:

#8. Find the length of a string without using the `len()` function.
str = input( "enter a string")
count = 0
for i in str:
    count += 1
print(count)

enter a stringhimanshu saini
14

In [ ]:
#9. Check if a string contains a specific word.
str = "i love bike and car"
if "bike" in str:
    print("bike is present")
else:
    print("bike is not present")

bike is present

In [ ]:
#10. Replace a word in a string with another word.
str = "i love my new car"
str =str.replace("new car","INDIA")
print(str)

i love my INDIA

In [ ]:
#11. Count the occurrences of a word in a string.
str = "Set your home address to find places near you"
str.count("near")

1

In [ ]:
#12. Find the first occurrence of a word in a string.
str = "occurrence"
str[0]

'o'

In [ ]:
#13. Find the last occurrence of a word in a string.
str = "occurrence"
str[-1]

'e'

In [ ]:
#14. Split a string into a list of words.
str = "hardwork"
str.split()

['hardwork']

In [ ]:
#15. Join a list of words into a string.
l=[" earth "," is "," round "]
s="life"
j=s+l[0]+l[1]+l[2]
print(j)

life earth  is  round

In [ ]:
#16. Convert a string where words are separated by spaces to one where wordsare separated by underscores.
str = "the earth move around sun"
str = str.replace(" ","_")
print(str)

the_earth_move_around_sun

In [ ]:
# 17. Check if a string starts with a specific word or phrase.
str = "underscores"
str.startswith("u")

True

In [ ]:
# 18. Check if a string ends with a specific word or phrase.
str = "underscores"
str.endswith("es")

True

In [ ]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
str = "hello world"
str.title()

'Hello World'

In [ ]:
# 20. Find the longest word in a string.
str = "Business Analysis & Process Management Coursera Project Network"

words = str.split()

longest_word = words[0]

# Iterate through the words and update longest_word if a longer word is found
for word in words:
    if len(word) > len(longest_word):
        longest_word = word

print(longest_word)

Management

In [ ]:
#21. Find the shortest word in a string.
str = "Business Analysis & Process Management Coursera Project Network"
words = str.split()
shortest_word = words[0]
for word in words:
  if len(word)<len(shortest_word):
    shortest_word = word
print (shortest_word)

&

In [ ]:
# 22. Reverse the order of words in a string.
str="noida"
str[::-1]

'adion'

In [ ]:
#23. Check if a string is alphanumeric.
str = input("enter a string: ")
if str.isalnum():
    print("the string is alphanumeric")
else:
    print("the string is not alphanumeric")

enter a string: hello123check
the string is alphanumeric

In [ ]:
#24. Extract all digits from a string.
str = input("enter a string: ")
for i in str:
  if i.isdigit():
    print(i)

enter a string: hello 123 check
1
2
3

In [ ]:
#25. Extract all alphabets from a string.
str = input("enter a string")
for i in str:
  if i.isalpha():
    print(i)

enter a stringI love you 143
I
l
o
v
e
y
o
u

In [ ]:
#26. Count the number of uppercase letters in a string.
str = input("enter a string ")
count = 0
if i.isupper():
  count += 1
print(count)

enter a string Hello my friend
0

In [ ]:
#27. Count the number of lowercase letters in a string.
str = input("enter a string ")
count = 0
if i.islower():
  count += 1
print(count)

enter a string himANSHU
0

In [ ]:
#28. Swap the case of each character in a string.
STR = "PwSkills"
STR.swapcase()

'pWsKILLS'

In [ ]:
#29. Remove a specific word from a string.
str = " 29 Remove @ specific word from a string "
str = str.replace("@","a")
print(str)

 29 Remove a specific word from a string

In [ ]:
#30. Check if a string is a valid email address.

In [1]:
#List Based Practice Problem

In [3]:
#1. Create a list with integers from 1 to 10.
l = [1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#2. Find the length of a list without using the `len()` function.
l = [1,2,3,4,5,6,7,8,9,10]
count=0
for i in l:
  count +=1
  print(count)

1
2
3
4
5
6
7
8
9
10

In [7]:
#3. Append an element to the end of a list.
l = [1,2,3,4,5,6,7,8,9,10]
l.append(11)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [8]:
#4. Insert an element at a specific index in a list.
l = [1,2,3,4,5,6,7,8,9,10]
l.insert(10,11)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
#5. Remove an element from a list by its value.
l = [1,2,3,4,5,6,7,8,9,10]
l.remove(10)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#6. Remove an element from a list by its index.
l = [1,2,3,4,5,6,7,8,9,10]
l.pop(-1)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#7. Check if an element exists in a list.
l = [1,2,3,4,5,6,7,8,9,10]
if 10 in l:
  print("exist")
else:
  print("not exist")

exist

In [22]:
#8. Find the index of the first occurrence of an element in a list.
l =[1,2,3,1,2,3,4,5]
l.index(1)

0

In [25]:
#8. Find the index of the first occurrence of an element in a list.
l =[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
l.count(2)

2

In [27]:
#10. Reverse the order of elements in a list.
l = [1,2,3,4,5,6,7,8,9]
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [33]:
#11. Sort a list in ascending order.
l=[10,30,20,5,40,50,3,2]
l.sort()
print(l)

[2, 3, 5, 10, 20, 30, 40, 50]

In [37]:
#12. Sort a list in descending order.
l=[10,30,20,5,40,50,3,2]
l.sort(reverse=True)
print(l)

[50, 40, 30, 20, 10, 5, 3, 2]

In [41]:
#13. Create a list of even numbers from 1 to 20.
l1 = list(range(2,21,2))
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [46]:
#14. Create a list of odd numbers from 1 to 20.
l1 = list(range(1,21))
for i in l1:
    if i % 2 != 1:
        l1.remove(i)
print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [49]:
#15. Find the sum of all elements in a list.
l=[2,4,67,8,88,4,1,1,2,]
total_sum = sum(l)
print(total_sum)

177

In [50]:
#16. Find the maximum value in a list.
l=[2,4,67,8,88,4,1,1,2,]
max_value = max(l)
print(max_value)

88

In [51]:
#17. Find the minimum value in a list.
l=[2,4,67,8,88,4,1,1,2,]
min_value = min(l)
print(min_value)

1

In [54]:
#18. Create a list of squares of numbers from 1 to 10.
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
  if i**2:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [60]:

#19. Create a list of random numbers.
import random
l = random.sample(range(1,100),10)
print(l)

[1, 36, 92, 2, 9, 48, 99, 64, 58, 62]

In [62]:
#20. Remove duplicates from a list.
l=[2,4,67,8,88,4,1,1,2,]
l=list(set(l))
print(l)

[1, 2, 67, 4, 8, 88]

In [64]:
#21. Find the common elements between two lists.
l1=[1,2,3,4,5,6,7,8]
l2=[5,6,7,8,9,10,11,12]
l3=list(set(l1).intersection(l2))
print(l3)

[8, 5, 6, 7]

In [68]:
#22. Find the difference between two lists.
l1=[1,2,3,4,5,6,7,8]
l2=[5,6,7,8,9,10,11,12]
l3=list(set(l1).difference(l2))

print(l3)

[1, 2, 3, 4]

In [71]:
#23. Merge two lists.
l1=[1,2,3,4,5,6,7,8]
l2=[5,6,7,8,9,10,11,12]
l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 11, 12]

In [72]:
#24. Multiply all elements in a list by 2.
l=[1,2,3,4,5,6,7,8]
for i in l:
  print(i*2)

2
4
6
8
10
12
14
16

In [73]:
#25. Filter out all even numbers from a list.
l=[1,2,3,4,5,6,7,8]
for i in l:
  if i%2==0:
    print(i)

2
4
6
8